#landing
  .wrapper
    %h1 Find Something Delicious & Loved
    %br/
    .form-group
      = form_tag(recipes_path, method: :get, id: "search-form") do
        = text_field_tag :search, params[:search], placeholder: "keyword search"
        = submit_tag "Search"
    .row
    = link_to 'Browse All Recipes', recipes_path, class: "btn btn-default"
