#pins.transitions-enabled
  - @recipe.each do |r|
    .box.panel.panel-default
      = link_to (image_tag r.image.url), r
      .panel-body
        %h2= link_to r.title, r
        %p.user
        Submitted by:
        = r.user.username
