/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$lightgray: rgba(233, 233, 233, .8);

body {
  background: url(image-path('m_bkgrd.jpg')) no-repeat fixed center;
  background-size: cover;
}

.container.main {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}

.navbar {
  margin: 0;
  background-color: rgba(233, 233, 233, .95);
  border: none;
  border-radius: 0;
}

nav {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  .navbar-brand {
    a {
      color: #BD1E23;
      letter-spacing: 2px;
      font-weight: 300;
      font-size: 35px;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  letter-spacing: 1px;
}

.alert {
  border: 1px tomato solid;
}
