// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment_detail {
  font-weight: 200;
}
.comment_icon {
  color: rgba(189, 30, 35, .8);
  font-weight: 100;
}
