// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#recipes {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  .box {
    margin: 10px;
    width: 350px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
    border-radius: 7px;
    text-align: center;
    img {
        max-width: 100%;
          height: auto;
        }
        h2 {
            font-size: 22px;
              margin: 0;
                padding: 25px 10px;
                  a {
                    color: #474747;
                    }
                  }
                  .user {
                      font-size: 12px;
                        border-top: 1px solid #EAEAEA;
                        padding: 15px;
                        margin: 0;
                      }
                    }
}


#recipe_show {
  .panel {
    margin: 20px;
  }
  .panel-heading {
    padding: 0;
    p {
      margin: 0 35px 10px 0;
      font-size: small;
      font-weight: 200;
    }
    .words {
      padding:35px;
    }
  }
  .pin_image {
    img {
      display: block;
      max-width:750px;
      max-height:450px;
      width: auto;
      height: auto;
    }
  }
  .panel-body {
    padding: 35px;
    h1 {
      margin: 0 0 10px 0;
    }
    .description {
      color: #868686;
      line-height: 1.75;
      margin: 0;
    }
  }
  .panel-footer {
    padding: 20px 35px;
    p {
      margin: 0;
    }
    span {
      padding-right: 8px;
    }
  }
}

#recipe_edit {
  .main {
    margin: 20px;
  }
  .current_image {
    img {
      display: block;
      margin: 20px 0;
    }
  }
}

textarea {
  min-height: 100px;
}
textarea.description {
  min-height: 100px;
  min-width: 35em
}
